<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.DeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.biz.dto.CarDto">
		<id column="id" property="id" />
		<result column="num" property="num" />
		<result column="pid" property="pid" />
		<result column="pids" property="pids" />
		<result column="simplename" property="simplename" />
		<result column="fullname" property="fullname" />
		<result column="tips" property="tips" />
		<result column="version" property="version" />
	</resultMap>

    <select id="tree" resultType="BaseResultMap" parameterType="string">
      SELECT
        car.id id,
        CONCAT( car.car_number_start, '.', car.car_number_end ) car_number,
        car.car_series_name car_name,
        brand.brand_logo car_logo
      FROM
        rcwl_car car
        LEFT JOIN rcwl_user usr ON car.user_id = usr.id
        LEFT JOIN car_brand brand ON brand.id = car.car_series
      WHERE	usr.user_openid =#openid#
    </select>


</mapper>
